body {
    margin-left: 10px;
    margin-right: 10px;
}

h1 {
    border: solid 1px;
    text-align: center;
    background-color: #e6e6e6;
}

#para1, #para2 {
    width: 49%;
    border: solid 1px;
    background-color: #e6e6e6;
    text-align: left;
    position: relative;
}

#para1 {
    float: left;
}

#para2 {
    float: right;
}

#divButton {
    border: solid 1px;
    background-color: #4444FF;
    position: absolute;
    padding: 10px 30px 10px 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#outer {
    position: relative;
    text-align: center;
}

#divButton:hover {
    background-color: #9999FF;
}

a {
    color: black;
}