table {
    border: 5px solid;
    border-color: black;
}

th {
    font-size: 18pt;
    text-align: center;
    font-weight: bold;
}

#larger-row {
    font-size: 14pt;
    text-decoration: underline;
    text-align: center;
}

tr {
    font-size: 12pt;
    text-align: left;
}