body {
    background: linear-gradient(rgba(255, 255, 255, 0.1),
            rgba(255, 255, 255, 0.1)),
            url(media/kyushu.jpg);
    background-size: cover;
    background-attachment: fixed;
    
}

.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style: none;
    margin: 0; 
    background: #171a2f;
    font-family: AgencyFB;
}

.navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
    text-align: center;
}

.navigation a:hover {
    background: #1565C0;
}

.selected {
    background: #0c3768;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
}

.flex-item {
    display: flex;
    background: url('media/backgroundpattern.png');
    padding: 5px;
    width: 200px;
    height: 150px;
    margin-top: 10px;
    line-height: 150px;
    border: 3px solid #171a2f;
    align-items: center;
    justify-content: center;
    position: relative;
}

.flex-item img {
    max-width: 100%;
    max-height: 100%;   
}

.text-label {
    position: absolute;
    bottom: -80px;
    right: 3px;
    color: white;
    font-family: 'AgencyFB';
    text-shadow: -1px -1px 5px black;
}

@media all and (max-width: 800px) {
    .navigation {
        justify-content: space-around;
        text-align: center;
    }
}

@media all and (max-width: 600px) {
    .navigation {
        flex-flow: column wrap;
        padding: 0;
    }
    .navigation a { 
        text-align: center; 
        padding: 10px;
        border-top: 1px solid rgba(255, 255, 255,0.3); 
        border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
    }
    .navigation li:last-of-type a {
        border-bottom: none;
    }
}

@font-face {
    font-family: 'AgencyFB';
    src: url('media/AgencyB.TTF');
}